@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

html {
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  box-sizing: border-box;
  text-transform: uppercase;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 50px 8px 50px;
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 14px;
  margin-top: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.order:hover {
  background-color: #615048;
}

.order:focus {
  background-color: #615048;
}

.order:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.order:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.page-header {
  width: 1200px;
  height: 64px;
  flex-direction: row;
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  flex-direction: row;
  max-width: 1090px;
  margin-left: 70px;
  align-items: flex-start;
  position: absolute;
  justify-content: space-between;
}

.navigation-list {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  margin: 0;
  margin-right: 35px;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: center;
}

.navigation-list-item {
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.navigation-list-item .navigation-link-current {
  margin-left: 30px;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.logo-container {
  margin-right: 30px;
}

.logo-item {
  padding-top: 0;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 268px;
  min-height: 64px;
  margin-left: 105px;
  padding: 0;
}

.navigation-user-list-item {
  position: relative;
  display: block;
}

.search {
  margin: auto;
  right: 20px;
  padding-left: 12px;
}

.favorites {
  margin: auto;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 22px;
  text-transform: uppercase;
}

.navigation-link {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  line-height: 24px;
  font-weight: inherit;
  text-align: left;
  color: inherit;
  background: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  padding: 0;
}

.main-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.inner-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 70px;
}

.page-container {
  width: 1280;
  margin: 0 auto;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-logo-container {
  width: 1200px;
  height: 485px;
  text-align: center;
  margin: 0 auto;
  background-image: url("../img/divider.png"), url("../img/background.jpg");
  background-position: center bottom, center;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 82px;
}

.description-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  margin-bottom: 90px;
}

.description-title {
  font-family: "PT Sans" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.advantages {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  list-style: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
}

.real-town-container {
  margin: 0 auto;
  padding-left: 85px;
  padding-right: 85px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  align-items: center;
}

.real-town,
.diable-bridge {
  display: flex;
  flex-direction: row;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.diable-bridge {
  flex-direction: row-reverse;
  min-height: 384px;
}

.diable-bridge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 85px;
  padding-right: 85px;
  margin: 0 auto;
  min-height: 230px;
}

.real-town-title,
.diable-bridge-title {
  width: 175px;
  height: 56px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  justify-self: center;
}

.real-town-title::after,
.diable-bridge-title::after {
  content: '';
  height: 2px;
  width: 60px;
  color: #ffffff;
  background: #ffffff;
  display: flex;
  margin: 30px auto;
}

.beautiful-road-title::after .small-area-title::after,
.few-tourists-title::after {
  content: '';
  height: 2px;
  width: 60px;
  color: #000000;
  background-color: #000000;
  display: flex;
}

.real-town-image {
  display: block;
  width: 800px;
  height: 385px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 0;
}

.diable-bridge-image {
  display: block;
  width: 800px;
  height: 385px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 0;
}

.small-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 384px;
  min-width: 400px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.small-area-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  padding-left: 85px;
  padding-right: 85px;
}

.gifts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 384px;
  min-width: 400px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.gifts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 384px;
  max-width: 230px;
  padding-right: 85px;
  padding-left: 85px;
}

.few-tourists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 384px;
  min-width: 400px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.few-tourists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  height: 160px;
  padding-left: 85px;
  padding-right: 85px;
}

.residence {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.residence-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  min-height: 384px;
  padding-left: 85px;
  padding-right: 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.small-area-title,
.few-tourists-title,
.residence-title,
.gifts-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.beautiful-road {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
  justify-content: center;
  min-height: 384px;
}

.beautiful-road-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  height: 160px;
  padding-left: 85px;
  padding-right: 85px;
  background-color: transparent;
}

.beautiful-road-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.food {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  justify-content: center;
}

.food-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  min-height: 384px;
  padding-left: 85px;
  padding-right: 85px;
  background-color: transparent;
}

.food-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.hotel-searching {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #000000;
  background: none;
}

.hotel-searching-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  max-height: 406px;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  margin-top: 96px;
  margin-bottom: 96px;
  margin-right: 304px;
  margin-left: 304px;
}

.hotel-searching-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.searching-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  min-width: 376px;
  min-height: 52px;
}

.searching-button:hover {
  color: #ffffff;
  background-color: #615048;
}

.searching-button:focus {
  color: #ffffff;
  background-color: #615048;
}

.searching-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.searching-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.newsletter-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "PT-Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  background-image: url("../img/background-email-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  color: #ffffff;
  width: 1200px;
  height: 415px;
}

.newsletter-subscribe-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "PT-Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  height: 415px;
}

.newsletter-subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  visibility: visible;
  text-transform: uppercase;
}

.newsletter-subscribe-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  visibility: visible;
  text-transform: uppercase;
}

.newsletter-subscribe-catalog-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 362px;
  margin-right: 362px;
  margin-bottom: 54px;
}

.newsletter-subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newsletter-subscribe-catalog-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newsletter-subscribe-catalog-form-email {
  margin: 0;
  font-weight: 400;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 345px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: 'PT-Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-subscribe-form-email {
  margin: 0;
  font-weight: 400;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 345px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: 'PT-Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-subscribe-form-email:hover {
  background-color: #e6e6e6;
}

.newsletter-subscribe-form-email:focus {
  outline: 3px solid #83b3d3;
}

.email-field {
  background-color: inherit;
  color: #000000;
  border: none;
  opacity: 0.5;
}

.page-footer {
  display: flex;
  flex-direction: row;
  max-height: 1200px;
  justify-content: space-between;
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 142px;
  margin: 0;
  margin-left: 70px;
  margin-top: 35px;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: block;
  width: 24px;
  height: 24px;
}

.footer-social-vk {
  fill: #68a2ca;
  background-color: #ffffff;
}

.footer-social-link:hover {
  background-color: #68A2CA;
}

.footer-social-link:focus {
  background-color: #68A2CA;
}

.footer-social-link:active {
  background-color: #68a2ca 30%;
}

.footer-social-telegram {
  fill: #68a2ca;
  background-color: #ffffff;
}

.footer-social-youtube {
  fill: #68a2ca;
  background-color: #ffffff;
}

.footer-contacts-phone {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  visibility: visible;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "PT-Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone::focus {
  color: #756157;
}

.footer-contacts-phone::active {
  color: rgba(0, 0, 0, 0.25);
}

.page-footer .htmlacademy-link {
  flex-direction: row;
  visibility: visible;
  justify-content: end;
  color: #000000;
  position: relative;
  margin-right: 70px;
  margin-top: 30px;
}

.htmlacademy-link:hover {
  color: #756157;
}

.htmlacademy-link::focus {
  color: #756157;
}

.htmlacademy-link::active {
  color: #756157;
  background-color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 717px;
  height: 576px;
  background-color: #ffffff;
}

.modal {
  position: relative;
  margin: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #ffffff;
}

.modal-visit {
  width: 717px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-title-container {
  display: grid;
  grid-template-columns: auto 52px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  left: 613px;
  right: 0;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: #f2f2f2;
  border-radius: 30px;
  margin-top: 64px;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #000000;
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  color: #000000;
  background-color: #e6e6e6;
}

.modal-close-button:active {
  color: #000000;
  background-color: #e6e6e6;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  margin-right: 64px;
  font-family: 'PT-Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.modal-content {
  display: grid;
  grid-template-rows: 577px 320px 577px 371px 577px 577px;
}

.visit-form {
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 577px;
  height: 448px;
  box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.field-group .visit-options {
  display: grid;
  grid-template-columns: 113px 440px;
}

.field-group .outcoming-options {
  display: grid;
  grid-template-columns: 116px 440px;
}

.form-error {
  color: #FF5757;
  min-width: 280px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-description {
  color: #333333;
  margin-top: 4px;
  margin-right: 89px;
  margin-left: 157px;
  margin-bottom: 23px;
  min-width: 371px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.visit-form .field-group {
  margin: 0;
  margin-bottom: 48px;
}

.user-options {
  display: grid;
  grid-template-columns: 91px 110px 85px 111px;
  gap: 46px;
}

.find-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 577px;
  min-height: 60px;
  color: #ffffff;
  background-color: #83B3D3;
  border-radius: 10px;
  font-family: 'PT-Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  padding-left: 257px;
  padding-right: 257px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 60px;
  margin-bottom: 64px;
  margin-left: 70px;
  margin-right: 70px;
}

.coming-date-label,
.outcoming-date-label {
  font-family: 'PT-Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 24px;
}

.outcoming-date-label {
  margin-right: 18px;
}

.field-input {
  font-family: 'PT-Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  width: 440px;
  margin-left: 20px;
  margin-right: 255px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tooltip-container {
  position: absolute;
  min-width: 256px;
  min-height: 152px;
  z-index: 2;
  left: -61px;
  top: 32px;
  margin-top: 2px;
  margin-bottom: 25px;
  margin-left: 344px;
  margin-right: 117px;
  font-family: 'PT-Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #FFFFFF;
  background-color: #333333;
  justify-content: center;
  align-items: center;
}

.tooltip-paragraph {
  padding-left: 22px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 18px;
  min-width: 216px;
}

.label-children,
.adults {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 49px;
  font-family: 'PT-Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin-right: 46px;
}

.adults {
  min-width: 91px;
}

.button-less:focus,
.button-more:focus {
  border: 3px solid #82b3d3;
}

.catalog-products-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filters-container {
  background-image: url("../img/breadcrumbs.jpg");
  background-repeat: no-repeat;
}

.inner-header,
.catalog-products {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 32px;
}

.breadcrumbs-list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.breadcrumbs-list-item {
  padding-right: 10px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-form {
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 100%;
}

.catalog-filter-block {
  padding: 0;
  display: flex;
  gap: 70px;
  margin-left: 70px;
  margin-bottom: 73px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-group-price {
  flex-direction: column;
}

.catalog-filter-group-price,
.catalog-filter-title {
  margin-bottom: 34px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 11px;
}

.control-input + .control-description {
  display: inline-flex;
  cursor: pointer;
}

.control-description::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  margin-right: 19px;
  background-color: #ffffff;
  border-radius: 50px;
}

.control-description-housing::before {
  border-radius: 50%;
}

.control-input:checked + .control-description::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.control-description:hover::before,
.control-input:checked + .control-description:hover::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-item:focus-within .control-description::before {
  outline: 3px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.control-description:active::before,
.control-input:checked + .control-description:active::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:checked + .control-description-housing::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-description-housing:hover::before,
.control-input:checked + .control-description-housing:hover::before,
.control-description-housing:active::before,
.control-input:checked + .control-description-housing:active::before {
  background-color: #ffffff;
}

.control-price {
  display: flex;
  width: 288px;
  height: 48px;
  margin-bottom: 28px;
}

.control-input {
  margin: 0;
  padding: 0;
  font: inherit;
  margin-right: 19px;
  background: none;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.control-input-price {
  margin: 0;
  width: 144px;
  height: 48px;
  padding-left: 16px;
  color: #ffffff;
  appearance: textfield;
}

.control-input-min {
  border-radius: 4px 0 0 4px;
}

.control-input-min:hover,
.control-input-max:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.control-input-min:focus,
.control-input-max:focus {
  outline-color: #81b3b2;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 3px #81b3b2;
}

.control-input-min:active,
.control-input-max:active {
  outline: none;
  box-shadow: none;
  background-color: #756257;
}

.min-price::after {
  content: "от";
  position: relative;
  bottom: 36px;
  left: 1112px;
  opacity: 0.3;
}

.control-input-max {
  position: relative;
  right: 1px;
  border-radius: 0 4px 4px 0;
}

.max-price::after {
  content: "до";
  position: relative;
  bottom: 36px;
  left: 107px;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  width: 287px;
  position: absolute;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: none;
  border: 2px solid #83b3d3;
  box-shadow: rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.control-mark {
  position: absolute;
  top: 1.5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 4px solid #FFFFFF
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  width: 13px;
  height: 10px;
  left: calc(50% - 12.2px/2 + 0.1px);
  top: calc(50% - 9.5px/2 + 0.45px);
  background: #3F5E72;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-label {
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
}

.button-catalog-filter-group-submit {
  color: #ffffff;
  background-color: #82b3d3;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 23px;
}

.button-catalog-filter-group-submit:hover,
.button-catalog-filter-group-submit:focus {
  background-color: #68a2ca;
}

.button-catalog-filter-group-reset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
  background: transparent;
  border: none;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
}

.button-catalog-filter-group-reset:hover {
  opacity: 0.6;
}

.button-catalog-filter-group-reset:focus {
  outline: 3px solid #83b3d3;
}

.button-catalog-filter-group-reset:active {
  outline: none;
  opacity: 0.3;
}

.sorting-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  padding: 16px;
  color: #000000;
  background-color: #ffffff;
}

.button-light {
  color: #000000;
  background-color: #ffffff;
}

.button-light:hover {
  border: 2px solid #000000;
}

.button-light:focus {
  border: 2px solid #68A2CA;
}

.button-light:active {
  border: 2px solid #000000;
}

.filter-uppercase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 191px;
  min-height: 104px;
  margin-left: 358px;
  margin-right: 70px;
  margin-bottom: 70px;
  margin-top: 58px;
}

.filter-apply-uppercase {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.filter-reset-uppercase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
  line-height: 20px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
  padding-bottom: 70px;
  padding-top: 32px;
}

.sorting-container .button {
  width: 56px;
  height: 44px;
}

.select-sorting-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-right: 70px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
}

.hotel-cards {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1200px;
}

.hotel-cards-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT-Sans", sans-serif;
}

.hotel-cards-filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  min-width: 1060px;
  margin-right: 70px;
  margin-left: 70px;
}

.hotel-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style: none;
  margin-bottom: 80px;
}

.hotel-cards-title {
  text-transform: uppercase;
}

.hotel-cards-list-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.amara-title,
.villas-title,
.desert-title,
.greentree-title {
  text-transform: none;
}

.hotel-cards-link {
  text-decoration: none;
}

.hotel-cards-title {
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.hotel-cards-description {
  color: #333333;
}

.hotel-card-description-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.hotel-price-description {
  text-align: right;
  color: #333333;
}

.button-able {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
}

.button-able:hover {
  color: #ffffff;
  background-color: #6C9E42;
}

.button-able:focus {
  color: #ffffff;
  background-color: #6C9E42;
}

.button-able:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.button-able:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.button-disable,
.button-submit {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.button-submit {
  min-width: 232px;
  min-height: 52px;
}

.more-information-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 30px;
  min-width: 30px;
  align-self: flex-start;
  padding-right: 26px;
  padding-left: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.more-information-button:hover {
  color: #ffffff;
  background-color: #756157;
}

.more-information-button:focus {
  color: #ffffff;
  background-color: #615048;
}

.more-information-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.more-information-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.rating-button {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: none;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #f2f2f2;
  padding-top: 9px;
  padding-bottom: 8px;
  margin-top: 16px;
  height: 37px;
}

.pagination {
  display: flex;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  min-width: 360px;
  max-width: 1060px;
  margin-left: 70px;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding-left: 19px;
  padding-right: 12px;
  padding-top: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link:hover {
  border: 1px solid #82b3d3;
  border-radius: 1px;
  background-color: #68a2ca;
}

.pagination-link:focus {
  border: 1px solid #83B3D3;
  border-radius: 4px;
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination-current,
.fourth-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover,
.fourth-link:hover {
  background-color: #f2f2f2;
}
