@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

html {
  height: 100%;
}

button {
  font-family: inherit;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1200;
  height: 64;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 607px;
  height: 128px;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  line-height: 24px;
  font-weight: inherit;
  text-align: left;
  color: inherit;
  background: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-list-item .navigation-link-current {
  text-decoration: underline;
}

.main-index {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #ffffff;
}

.main-inner {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  background-color: #ffffff;
}

.page-container {
  width: 1280;
  margin: 0 auto;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.visually-hidden {
  visibility: hidden;
}

.main-logo-container {
  text-align: center;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.description-container {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.adavantages {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  list-style: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 384px;
}

.real-town,
.diable-bridge {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 1200px;
  height: 384px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
}

.real-town-title,
.diable-bridge-title {
  width: 175px;
  height: 56px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  justify-self: center;
  padding-top: 0;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 125px;
  margin-top: 92px;
  margin-left: 113px;
  margin-right: 113px;
  margin-bottom: 236px;
}

.real-town-image {
  width: 800px;
  height: 385px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 0;
}

.small-area,
.few-tourists,
.residence,
.gifts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 384;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.small-area-title,
.few-tourists-title,
.residence-title,
.gifts-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28;
  text-transform: uppercase;
}

.small-area-paragraph {
  justify-content: center;
}

.beautiful-road {
  width: 400;
  height: 384;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.beautiful-road-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.food {
  width: 400px;
  height: 384px;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #333333;
  background-color: #FFFFFF;
}

.food-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.hotel-searching {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 1200px;
  height: 486px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #000000;
  background: none;
}

.hotel-searching-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

a.button {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 1200px;
  height: 415px;
  font-family: "PT-Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  background-image: url("../img/background-email-subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-color: #ffffff;
}

.newsletter-subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  visibility: visible;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-subscribe-paragraph {
  color: #000;
}

.page-footer {
  width: 1200px;
  height: 120px;
  flex: none;
  order: 5;
  flex-grow: 0;
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  color: #000;
  background-color: #ffffff;
}

.footer-social-list {
  visibility: hidden;
  list-style: none;
}

.footer-contacts-phone {
  font-family: "PT-Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.page-footer .htmlacademy-link {
  display: flex;
  justify-content: end;
  color: #000;
  position: relative;
  right: -100px;
}

.inner-header,
.catalog-products-container,
.breadcrumbs-list {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-image: url("../img/breadcrumbs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-list {
  list-style: none;
}

.sorting-container {
  color: #000;
  background-color: #ffffff;
}

.button-light {
  color: #000;
  background-color: #ffffff;
}

.hotel-cards {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #000;
  background-color: #ffffff;
}

.hotel-cards-list {
  list-style: none;
}

.hotel-cards-link {
  text-decoration: none;
}

.hotel-cards-title {
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-cards-description {
  color: #333333;
}

.hotel-price-description {
  text-align: right;
  color: #333333;
}

.order-button {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.filter-apply-uppercase {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.filter-reset-uppercase {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
  line-height: 20px;
  color: #ffffff;
  background-color: inherit;
}

.button-able {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
}

.button-disable,
.button-submit {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.more-information-button {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  border: none;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.rating-button {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: none;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #F2F2F2;
}

.pagination-list {
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  list-style: none;
  border: none;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.pagination-link {
  text-decoration: none;
  color: #ffff;
}

.pagination-current,
.fourth-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  background-color: #F2F2F2;
}
